wheel
PyQt6
soundfile>=0.12.1
sounddevice
numpy==1.26.4
PyYAML
matplotlib
chardet
tqdm
scipy
pandas
unidecode
phonemizer
ftfy
timm
progressbar2
python-utils
torchlibrosa>=0.0.9
einops
regex
sacremoses
sentencepiece