wheel
PyQt6
soundfile>=0.12.1
sounddevice
numpy==1.26.4
PyYAML
matplotlib
chardet
huggingface_hub>=0.23.0
torchaudio
librosa>=0.10.0
torchinfo>=1.8.0
torchdiffeq>=0.2.3
torchode==1.0.0
einops>=0.8.0
beartype==0.17.2
gateloop_transformer==0.2.4
tqdm
scipy
